[submodule "engine/deepseek-harness"]
	path = engine/deepseek-harness
	url = https://github.com/goiltpatpat/deepseek-harness.git
	ignore = dirty
[submodule "plugins/patpat"]
	path = plugins/patpat
	url = https://github.com/goiltpatpat/patpat.git
	branch = main
	ignore = dirty

