[submodule "engine/deepseek-harness"]
	path = engine/deepseek-harness
	url = https://github.com/deepseek-ai/deepseek-harness.git
[submodule "plugins/patpat"]
	path = plugins/patpat
	url = https://github.com/goiltpatpat/patpat.git
